In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from warnings import filterwarnings
filterwarnings('ignore')

## Reading Dataset

In [2]:
df = pd.read_csv('IOT_Assignment_2_data_regression_sensor_range.csv')
df.columns = ['Humidity', 'Temperature', 'Waterflow']
df.head()

    Humidity  Temperature  Waterflow
0  25.045045    76.856857  67.432607
1   8.880881    31.771772   0.000000
2  24.956957    75.735736  66.105904
3  40.328328    88.308308   0.000000
4  38.742743    57.157157   0.000000

In [3]:
df.describe()

         Humidity  Temperature   Waterflow
count  200.000000   200.000000  200.000000
mean    31.137437    59.747347   25.496364
std     12.386344    23.112767   34.953661
min      8.132132    20.000000    0.000000
25%     21.015015    40.860861    0.000000
50%     30.616617    58.638639    0.000000
75%     41.528529    78.998999   61.884829
max     51.867868   100.000000  100.000000

## Perform Min Max Scaling on Features

In [4]:
X = df[['Humidity','Temperature']]
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
y = df.Waterflow

## Splitting Dataset into training and testing

In [5]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 1)

##  Implementing MLP Regressor and Finding the accuracy

In [6]:
from sklearn.metrics import mean_squared_error
# The value of random_state=56 have been achieved after running a loop ranging from 0 to 100
model = MLPRegressor(activation='relu', hidden_layer_sizes=(16,8),random_state = 56, max_iter=8000).fit(x_train, y_train)
y_pred = model.predict(x_test)
rms = mean_squared_error(y_test, y_pred, squared=False)
print("r2_score: ", (r2_score(y_pred, y_test)), ",accuracy",model.score(x_test, y_test), ",rmse:",rms)

r2_score:  0.8355453119132263 ,accuracy 0.8607942724220553 ,rmse: 12.777447968938661

## Testing on some sample values

In [7]:
model.predict(x_test[2].reshape(1,2))

array([75.41138601])

In [8]:
model.predict(x_test[4].reshape(1,2))

array([77.16078806])

## Weights of the model

In [9]:
model.coefs_

[array([[ 2.95845826e+000,  2.62680294e-151,  1.68454723e+000,
         -3.71697493e-001, -4.13991150e+000,  8.53281870e-001,
          4.39498957e-133,  2.49949929e+000,  2.05022038e+000,
          4.44919735e-165, -1.02592115e+000, -8.84529456e-106,
          1.16865229e+000, -2.48378582e+000, -1.12685780e+000,
         -1.52749588e+000],
        [ 3.70581235e+000,  1.07164200e-136,  1.48084828e-001,
          3.99229036e-001,  1.44800993e+000,  2.14375537e+000,
         -4.57236513e-098, -5.34739780e-001,  4.56226909e-001,
          5.09892594e-175,  5.62606743e-001,  1.16763444e-137,
          2.49084092e+000,  2.61039197e+000,  5.92053689e-001,
          2.11379273e+000]]),
 array([[-5.41265446e-001,  3.40952564e+000, -4.34539424e+000,
          4.05294487e+000,  4.58219508e+000,  3.54417762e+000,
         -4.15116210e+000, -5.49907549e+000],
        [ 5.66518419e-124, -1.25183800e-103, -5.31111317e-179,
          2.19274267e-107,  2.09822413e-143,  6.62536393e-154,
         -8.30264048e-123, -4.46521254e-180],
        [ 1.09741561e+000,  1.20222100e+000,  1.71026036e+000,
          1.08968116e+000,  8.13524206e-001,  1.30494027e+000,
          1.74346549e-001, -6.18023749e-001],
        [-1.45759796e-001, -8.94811723e-003, -2.34782663e-001,
         -3.66372688e-001, -2.85093029e-001, -5.01975766e-002,
          1.11478502e-180,  1.29004049e-139],
        [ 2.50662851e+000,  2.71523692e+000, -5.96463650e+000,
          3.90360829e+000,  2.44821652e+000,  3.28224757e+000,
          3.67993926e+000, -5.95615299e+000],
        [-1.85629459e+000,  8.54769739e-001, -5.53329850e-001,
          6.66827908e-001, -1.40172824e+000,  9.18389620e-001,
         -1.68561964e+000,  2.48820761e+000],
        [ 6.40856407e-177,  3.16043931e-145,  1.61220283e-111,
          1.91819701e-107, -5.35005832e-111, -3.23359536e-105,
          2.38634266e-117,  8.47591201e-151],
        [-1.87732991e-001,  1.98162405e+000,  1.33463399e+000,
          1.89632659e+000,  1.02238004e+000,  1.57691897e+000,
         -2.54672856e+000, -9.17654212e-002],
        [-1.43993821e+000,  1.29747990e+000,  1.08063054e+000,
          1.77458153e+000, -1.47218570e-002,  1.59230326e+000,
         -2.03675813e+000,  1.49940600e+000],
        [ 2.10769499e-126,  4.34658696e-152,  1.56564194e-162,
         -1.85313465e-129, -1.28878633e-119,  2.97153250e-112,
         -4.15277662e-166,  8.10006059e-151],
        [ 1.07536917e-001,  4.74634985e-001,  3.31468961e-003,
          7.62761726e-001, -6.59966448e-001,  1.79635207e-001,
          2.99997109e+000,  5.18537346e-001],
        [-2.57540761e-159, -7.06828895e-154,  1.33696776e-103,
          7.79438717e-116,  8.48744321e-115,  8.46691023e-116,
         -5.81818085e-121,  1.93824438e-167],
        [-8.37057313e-001,  1.05733031e+000, -5.26328482e-001,
          9.70063742e-001, -1.38466504e+000,  4.68454883e-001,
         -1.55448723e+000,  3.32870406e+000],
        [-2.32977889e+000,  1.71613989e+000, -4.40648204e+000,
          1.02923631e+000,  9.11824507e-002,  1.54009433e+000,
          2.16356917e+000, -3.58079287e+000],
        [-4.59135549e-001,  8.29156714e-002,  7.10393544e-001,
         -1.09389023e-001, -1.77918281e+000,  6.53617136e-001,
          3.18016164e+000,  6.60285336e-001],
        [-2.76572282e+000,  1.06307329e+000, -3.15266197e+000,
          9.63446881e-001, -2.19875134e+000,  9.91228355e-001,
          1.70753654e+000, -8.35503506e-001]]),
 array([[-2.4994282 ],
        [ 2.36415845],
        [-4.71240845],
        [ 2.47978599],
        [-5.79256752],
        [ 2.78942908],
        [-3.50807105],
        [-5.54082873]])]

## Bias of the model

In [10]:
model.intercepts_

[array([-4.76382938, -0.17346785,  1.28525358, -0.38122354,  1.01136797,
        -0.61966671, -0.41820093,  0.47967465,  0.26725188, -0.39660994,
         0.70402991, -0.38643418, -0.56158533, -0.42316934,  0.78626603,
        -0.46513269]),
 array([ 1.2152304 ,  0.13011387,  1.04728916,  0.49993377,  0.12602774,
         0.10195648,  2.20141629, -0.41615318]),
 array([0.28850515])]